name: Build
on:
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v3

      - name: Install Wasm Rust target
        run: |
          rustup target add wasm32-wasip1

      - name: Install Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          version: v3.5.1

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: site/package-lock.json

      - name: Install npm dependencies for site
        working-directory: site
        run: npm ci

      - name: Build
        run: |
          spin build

      - name: Test site
        env:
          TIMEOUT: 1m
        run: |
          make test-server

      - name: Archive app artifacts
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: |
            spin.toml
            components/*.wasm
            site/dist/
