name: Deploy Website

on:
  push:
    branches:
      - "main"

  workflow_dispatch:

# Construct a concurrency group to be shared across workflow runs.
# The default behavior ensures that only one is running at a time, with
# all others queuing and thus not interrupting runs that are in-flight.
concurrency: ${{ github.workflow }}

permissions:
  contents: read

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: app
          path: "${{ github.workspace }}"

      - name: Setup Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          version: v3.5.1
          plugins: aka

      - name: Login to Akamai Functions
        run: spin aka login --token "${{ secrets.AKAMAI_FUNCTIONS_TOKEN }}"

      - name: Deploy to Akamai Functions
        run: |
          spin aka app link --app-id ${{ secrets.APP_ID }} 
          spin aka deploy --no-confirm
